.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

@media (max-width: 600px) {
	.container {
		flex-direction: column;
	}
}

.link {
	font-size: 20px;
	text-decoration: none;
	text-transform: capitalize;
}